In [1]:
#Importing required libraries.

import time
import datetime
import pandas as pd
from datetime import date

In [2]:
#Where you set the variables to check your preference.

#The currency of the values in the data are corresponding to your choice of ticker.

#First Selection:
ticker1 = 'BTC-USD' #The value you want to check.

period1_1 = int(time.mktime(datetime.datetime(1970, 9, 17, 23, 59).timetuple())) #The time period you want to start.

period1_2 = int(time.mktime(datetime.datetime.now().timetuple())) #The time period you want to end.

interval1 = '1d' #Interval you want to check ->(1d, 1wk, 1mo) as day, week, month.

#Second Selection:
ticker2 = 'GC=F' #The value you want to check.

period2_1 = int(time.mktime(datetime.datetime(1970, 9, 17, 23, 59).timetuple())) #The time period you want to start.

period2_2 = int(time.mktime(datetime.datetime.now().timetuple())) #The time period you want to end.

interval2 = '1d' #Interval you want to check ->(1d, 1wk, 1mo) as day, week, month.

In [3]:
query_string1 = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker1}?period1={period1_1}&period2={period1_2}&interval={interval1}&events=history&includeAdjustedClose=true' #URL of Historical Data

data1 = pd.read_csv(query_string1, parse_dates=["Date"], index_col= ["Date"]) #Reading the wanted data as CSV.
data1 = data1.dropna() #Deleting the NA values.
#data1 = data1.set_index(['Date']) #Selecting Date as index instead of row numbers.

print(ticker1, "Historical Data:")
data1

BTC-USD Historical Data:

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2023-03-30,28350.140625,29159.902344,27720.160156,28033.562500,28033.562500,22435349951
2023-03-31,28032.261719,28639.896484,27583.714844,28478.484375,28478.484375,19001327598
2023-04-01,28473.332031,28802.457031,28297.171875,28411.035156,28411.035156,10876469901
2023-04-02,28462.845703,28518.958984,27884.087891,28199.308594,28199.308594,12284641999
2023-04-03,28162.687500,28440.708984,27644.890625,28169.386719,28169.386719,17482672128

In [4]:
query_string2 = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker2}?period1={period2_1}&period2={period2_2}&interval={interval2}&events=history&includeAdjustedClose=true' #URL of Historical Data

data2 = pd.read_csv(query_string2, parse_dates=["Date"], index_col= ["Date"]) #Reading the wanted data as CSV.
data2 = data2.dropna() #Deleting the NA values.
#data2 = data2.set_index(['Date'] #Selecting Date as index instead of row numbers.

print(ticker2, "Historical Data:")
data2

GC=F Historical Data:

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-08-30,273.899994,273.899994,273.899994,273.899994,273.899994,0.0
2000-08-31,274.799988,278.299988,274.799988,278.299988,278.299988,0.0
2000-09-01,277.000000,277.000000,277.000000,277.000000,277.000000,0.0
2000-09-05,275.799988,275.799988,275.799988,275.799988,275.799988,2.0
2000-09-06,274.200012,274.200012,274.200012,274.200012,274.200012,0.0
...,...,...,...,...,...,...
2023-03-28,1972.400024,1972.400024,1972.400024,1972.400024,1972.400024,21.0
2023-03-29,1966.099976,1966.099976,1966.099976,1966.099976,1966.099976,88563.0
2023-03-30,1965.900024,1984.400024,1954.900024,1980.300049,1980.300049,10119.0
2023-03-31,1981.300049,1986.800049,1968.000000,1969.000000,1969.000000,10119.0
2023-04-03,1968.099976,2008.000000,1965.900024,2000.599976,2000.599976,174626.0

In [8]:
merged_data = pd.merge(data1,data2, on=["Date"], suffixes=(" " + ticker1, " " + ticker2)) #Merging the given two datasets by Date.


print(ticker1, "and", ticker2, "Historical Data:")

earliest_date = str(merged_data.index[0])  
earliest_date = earliest_date[0:10]  
today = str(date.today())
merged_data

BTC-USD and GC=F Historical Data:

,Open BTC-USD,High BTC-USD,Low BTC-USD,Close BTC-USD,Adj Close BTC-USD,Volume BTC-USD,Open GC=F,High GC=F,Low GC=F,Close GC=F,Adj Close GC=F,Volume GC=F
Date,,,,,,,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800,1236.199951,1236.199951,1221.900024,1234.400024,1234.400024,10.0
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200,1216.199951,1225.699951,1216.199951,1225.699951,1225.699951,5.0
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700,1218.300049,1218.300049,1215.300049,1215.300049,1215.300049,4.0
2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600,1214.900024,1216.800049,1212.400024,1216.800049,1216.800049,7.0
2014-09-23,402.092010,441.557007,396.196991,435.790985,435.790985,45099500,1221.000000,1221.000000,1221.000000,1221.000000,1221.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2023-03-28,27132.888672,27460.718750,26677.818359,27268.130859,27268.130859,17783600385,1972.400024,1972.400024,1972.400024,1972.400024,1972.400024,21.0
2023-03-29,27267.031250,28619.542969,27259.662109,28348.441406,28348.441406,20684945906,1966.099976,1966.099976,1966.099976,1966.099976,1966.099976,88563.0
2023-03-30,28350.140625,29159.902344,27720.160156,28033.562500,28033.562500,22435349951,1965.900024,1984.400024,1954.900024,1980.300049,1980.300049,10119.0
2023-03-31,28032.261719,28639.896484,27583.714844,28478.484375,28478.484375,19001327598,1981.300049,1986.800049,1968.000000,1969.000000,1969.000000,10119.0
2023-04-03,28162.687500,28440.708984,27644.890625,28169.386719,28169.386719,17482672128,1968.099976,2008.000000,1965.900024,2000.599976,2000.599976,174626.0

In [9]:
merged_data.describe()

,Open BTC-USD,High BTC-USD,Low BTC-USD,Close BTC-USD,Adj Close BTC-USD,Volume BTC-USD,Open GC=F,High GC=F,Low GC=F,Close GC=F,Adj Close GC=F,Volume GC=F
count,2150.000000,2150.000000,2150.000000,2150.000000,2150.000000,2.150000e+03,2150.000000,2150.000000,2150.000000,2150.000000,2150.000000,2150.000000
mean,13205.860072,13564.203450,12810.388715,13210.099226,13210.099226,1.762835e+10,1466.622000,1473.701396,1459.672977,1466.710465,1466.710465,5537.346047
std,16110.600865,16560.408749,15593.284682,16096.503294,16096.503294,2.104773e+10,278.821320,280.855916,276.967655,278.943222,278.943222,30344.203923
min,176.897003,215.240997,171.509995,178.102997,178.102997,7.845880e+06,1053.699951,1062.000000,1046.199951,1050.800049,1050.800049,0.000000
25%,710.052765,736.025254,701.600235,712.597763,712.597763,1.221698e+08,1231.599976,1238.375031,1227.350037,1232.724976,1232.724976,45.000000
50%,7369.830078,7537.750733,7192.730713,7354.879150,7354.879150,9.302043e+09,1324.250000,1328.649964,1320.200012,1323.700012,1323.700012,173.500000
75%,19053.063965,19348.379883,18381.713867,19053.159668,19053.159668,3.033528e+10,1769.624969,1779.674957,1764.124969,1770.700043,1770.700043,539.250000
max,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11,2053.600098,2072.000000,2040.000000,2051.500000,2051.500000,386334.000000